{% extends "../base.html" %}
{% block title %}Vila Store - Resumen de Carrito{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Resumen de Carrito</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if cart|length == 0 %}
                <p class="text-center">Tu carrito está vacío</p>
            {% else %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cant.</th>
                            <th>Precio</th>
                            <th>Subtotal</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>                            
                        {% for item in cart %}
                            <tr id="tr-{{item.product.id}}">
                                <td>{{item.product.name}}</td>
                                <td>{{item.qty}}</td>
                                <td>{{item.product.price}}</td>
                                <td>{{item.subtotal}}</td>
                                <td><button class="btn btn-sm btn-danger" onclick="deleteFromCart('{{item.product.id}}')">-</button></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>                
                <div class="row mt-5">
                    <div class="col-md-12">
                        {% include './checkout-form.html' %}
                    </div>
                </div>                    
            {% endif %}
        </div>
    </div>
</div>


<script>
    const deleteFromCart = (productId) => {        
        console.log("Se está seleccionando el producto: " + productId + " para quitarlo del carrito.");

        let data = {
            product_id: productId
        }

        fetch("{% url 'orders:cart_delete' %}", {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {  "Content-type": "application/json; charset=UTF-8",
                        "X-CSRFToken": "{{csrf_token}}"}
        })
        .then(res => res.json())
        .then(data => {
            document.getElementById("cart-qty").innerHTML = data.total_items;            
            document.getElementById('tr-'+productId).remove();            
        });
    }        
</script>

{% endblock %}