{% extends "../base.html" %}
{% block title %}Vila Store{% endblock %}

{% block content %}    
    {% if not products %}
    <div class="row">
        <div class="col-md-12 text-center">Actualmente no hay productos activos</div>
    </div>
    {% else %}
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for prod in products %}
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top product-image" src="{{ prod.image.url }}" alt="..."/>
                <!-- Product details-->
                <div class="card-body p-2">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{prod.name}}</h5>
                        <p>{{prod.description}}</p>
                        <!-- Product price-->
                        <p class="fw-bolder">${{prod.price}}</p>                        
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer px-4 border-top-0 bg-transparent">                    
                    <div class="row">
                        <div class="col-md-6 align-middle">
                            <label for="select">Cant.</label>
                            <select>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="col-md-6 align-middle">
                            <a class="btn btn-outline-dark mt-auto" href="#">Añadir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
    {%endif%}
{% endblock %}